# Ignore C output files
*.d
*.a
*.so
*.o
*.map

# Ignore compiled python data
*.pyc

# Eclipse droppings
.project
.cproject
.settings

# Test launcher binary
test

# Local scripts
*.sh

# Local patches
*.patch

# Samples binaries
#ccapi
#ccxapi

