# Ignore C output files
*.d
*.a
*.so
*.o
*.map

# Ignore compiled python data
*.pyc

# Eclipse droppings
.project
.cproject
.settings

# Test launcher binary
test

# Local scripts
*.sh

# Local patches
*.patch

# Samples binaries
tests/samples/ccapi_start_stop/ccapi
tests/samples/ccxapi/ccxapi
tests/samples/tcp_start/ccapi
tests/samples/coverity/ccapi
tests/samples/send_data/ccapi
tests/samples/send_data_multiple/ccapi
