# Ignore C output files
*.d
*.a
*.so
*.o
*.map

# Ignore compiled python data
*.pyc

# Eclipse droppings
.project
.cproject

# Test launcher binary
test

# Samples binaries
tests/samples/ccapi_start_stop/ccapi
tests/samples/tcp_start/ccapi
